
header {
	text-align: center;
}

body {
	
 font-family: 'Acme', sans-serif;
	
}
p{
	
	color:black;
	font-family: Arial;
	font-size: 16px;
	
}
.info{
    
	color:black;
	font-family: Arial;
	font-size: 16px;

}

h1
{
	font-family: 'Acme', sans-serif;
	color: black;
	font-size:50px;
}
h2{
	font-family: 'Acme', sans-serif;
	color:black;
	font-size:20px;
	text-align: center;
}

th, td {
	border: none;
	padding: 5px;
}

.contact td, th {
	font-family: Arial;
	font-size: 16px;
}

.cost {
	font-weight: bold;
}

img.medium{
	width: 10px;
	height: 10px;
	
}
.small{
    width: 60%;
	height:60%;
}

.border {
  border: none;
  table-layout: fixed ;
  width: 100% ;
  padding:10px;
  
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_transparency*/
div.box
{
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width:40%;
}

div.box1{
	margin-left: auto;
    margin-right: auto;
    background-color: white;
    width:60%;
	
}
table.box{
    margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	font-family: Arial;
    font-size:100%; 
    color:black;
    width:70%;
    text-align: left;      
}

table.box1{
    margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
    font-size:100%; 
    color:black;
    width:60%;
    text-align: left;      
}

td.noborder
{
	border: none;
}

.error {
	background-color: red;
}
table{
	text-align: left;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.mycenter{
	text-align: center;
}

th.just{
	text-align: right
}

.square{
    height:50px;
    width:120px;
}

